[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/nlohmann-json"]
	path = libs/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
